.roomshome{
  background-color: white;
}
.homeRoomHeading{
    margin-top: 30px;
    text-align: center;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 50fr));
    gap: 30px;
  }

  /* Basic styling for the card */
  .card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Style for the card image */
  .card img {
    width: 100%;
    height: 60%;
  }

  /* Style for the card content */
  .card-content {
    padding: 16px;
    height: 250px;
  }